:root {
    --primery-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --white-color: rgba(255, 255, 255, 1);
    --second-bgr-color: rgba(47, 48, 58, 1);
    --third-bgr-color: rgba(245, 244, 250, 1);
    --white-second-color: rgba(255, 255, 255, 0.6);
    --second-accent-color: rgba(24, 140, 232, 1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,h2,h3, p {
    margin:  0px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.body {
    background-color: var(--white-color);
    font-family: roboto, sans-serif;
    margin-top: 0;
}

/* блок герои */
.hero {
    background-color: var(--second-bgr-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}


.text-hero {
    color: var(--white-color);
max-width: 696px;
margin-left:auto;
margin-right:auto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
}

.button-hero:hover {
    background-color: var(--second-accent-color);
}

.button-hero:focus {
    background-color: var(--second-accent-color);
}

.button-hero {
    background-color: var(--accent-color);
    color: var(--white-color);
width: 200px;
height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin:o;
    padding:0;
    border:0;
    margin-top:30px;
}

/* блок навигации */
.nav {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
}

.nav-studio {
    color: var(--accent-color);
    padding-top: 32px;
        padding-bottom: 32px;
}

.nav-portf {
    color: var(--title-text-color);
    padding-top: 32px;
        padding-bottom: 32px;
}

.nav-portf:hover,
.nav-portf:focus {
    color: var(--accent-color);
}

.contact {
    color: var(--title-text-color);
    padding-top: 32px;
        padding-bottom: 32px;
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.mail {
    color: var(--primery-text-color);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.phone {
    color: var(--primery-text-color);
}

.phone:hover,
.phone:focus {
    color: var(--accent-color)
}

/* заголовки + текст */
.header {
    color: var(--title-text-color);

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.text {
    color: var(--primery-text-color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}

.text-second {
    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.header-second {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom:10px;
}

.header-third {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    
    margin-bottom:10px;
}
.cart-text {
    padding-top:30px;
    padding-bottom:30px;
}
/* footer */
.footer {
    background-color: var(--second-bgr-color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    padding-top:60px;
    padding-bottom:60px;


}

.adress {
    color: var(--white-color);
    font-style: normal;
}

.mail-footer {
    color: var(--white-second-color);
    font-style: normal;
}

.phone-footer {
    color: var(--white-second-color);
    font-style: normal;
}

/* логотип */
.web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}


.studio {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}

.studio-footer {
    color: var(--white-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}

.section {
    background-color: var(--third-bgr-color);
}

/* навигация страницы портфолио */
.nav-stud {
    color: var(--title-text-color);

}

.nav-stud:hover,
.nav-stud:focus {
    color: var(--accent-color)
}

.nav-port {
    color: var(--accent-color);
}

/* кнопки страницы портфолио */
button {
    font-family: inherit;
    cursor: pointer;
}

.button-all {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-site {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
            padding-right: 22px;
}

.button-site:hover,
.button-site:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-pr {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
            padding-right: 22px;
}

.button-pr:hover,
.button-pr:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-dis {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
            padding-right: 22px;
}

.button-dis:hover,
.button-dis:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-mar {
    color: var(--title-text-color);
    background-color: var(--third-bgr-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
}

.button-mar:hover,
.button-mar:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.text-portfolio {
    color: var(--primery-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left; 
}

.header-portfolio {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    
}
.cart-port {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid var(--third-bgr-color);
    border-right: 1px solid var(--third-bgr-color); 
    border-left: 1px solid var(--third-bgr-color); 
}
.nav-header {
    display:flex;
    margin:0;
    padding-left:0;
   
}
.nav-header .item {
margin-right: 50px;

}
.nav-header .item:last-child {
    margin-right:0;
}
.mail-header {
    display: flex;
    margin:0;
    padding:0;
    align-items: center;
    padding-left:0;
    font-size: 14px;
    margin-left:auto;
}
.mail-header .item {
    margin-right: 50px;
}
.mail-header .item:last-child {
    margin-right:0px;
}
.nav {
    display: block;
    margin:32px;
}
.header-one .container {
    display: flex;
}
.logo {
    padding-top:24px;
    padding-bottom:25px;
    padding-right: 93px;
}
.content {
    display:flex;
    margin:0;
    padding:0;
    
}
.content .item {
    margin-right: 30px;
        width: 270px;
}
img {
    display:block;
}
.container .content .item:last-child {
    margin-right: 0;
}
.doing  {
    padding-top:94px;
    padding-bottom: 94px;
    
}
.doing-img {
    padding:0;
    margin:0;
    display: flex;
    margin-top:50px;
    
   
}
.doing-img .item:not(:last-child) {
    margin-right: 30px;
}
.section  {
    padding-top:94px;
    padding-bottom:94px;
}
.comand {
    display:flex;
    padding:0;
    margin:0;
    margin-top:50px;
}
.comand .item:not(:last-child) {
   margin-right:30px;
}
.comand .item {
    width: 270px;
    height:368px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.footer-adr {
    padding:0;
    margin: 0;
    
}
.footer-adr .item.item:not(:last-child) {
    margin-bottom: 9px;
}
.data {
    margin-top: 20px;
}
.section-one {
    padding-top: 94px;
}
.produkt {
    padding-top: 94px;
    padding-bottom: 94px
}
.produkt-button {
    margin:0;
    display: flex;
    justify-content: center;
}
.produkt-button .item:not(:last-child) {
    margin-right: 8px;
}
.poster {
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    margin-top:50px;
    gap:30px
}
.poster .item {
    
    width: 370px;
    
}